{{!-- <header>
	<button>anterior</button>
	<button>proximo</button>
</header>
 --}}

 <style>
    .row { float: left; }
    .imageReveal { margin-right: 20px; }
    .row.small .imageReveal { display: inline-block; }
    .row.small .imageReveal-caption { top: auto; bottom: 20px; }
    .imageReveal-caption { text-indent: 1000; overflow: hidden; transition: text-indent 2s;}
</style>

<section id="photos">
	<img src="{{ urlBefore }}" title="Normal">
	<img src="{{ urlAfter }}" title="HDR">
</section>
<p>Your content here.</p>

